
    

.pcForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

label{
    padding-top: 20px;
    padding-bottom: 5px;
}

input{
    width: 50%;
}

select{
    width: 50%;
    min-height: 44px;
}

#confirmEmail {
    min-height: 44px;
}

@media screen and (min-width: 600px) { 
    input{
        width: 20%;
    }
    
    select{
        width: 20%;
        min-height: 44px;
    }
}
