header{
background-color: steelblue;
padding: 1rem;
}

#logo {
    width: 30px;
    height: 30px;
}

h1, h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: #d3d3d3;
    padding: 1rem;
}
footer{
    background-color: steelblue;
    text-align: center;
    font-size: 1em;
    padding: 1rem;
}

@media screen and (min-width: 600px) {
    #logo {
        width: 60px;
        height: 60px;
    }
 }